
*{/* Elemento modificador. Así pongo a cero cualquier estilo predefinido y a mi gusto. */
    list-style: none;  
    padding: 0;
    margin:0;
    margin-right:0;
    text-decoration: none;   
}
body{/* Cambio color fondo y doy márgenes */
    background-color: rgb(204, 214, 222);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
}
header{/* Pongo una imágen de background */
    background-image: url(./imagenes/header2.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;

}
nav{
    display: flex; /* Posiciono el nav como flex. */
    justify-content: space-between;
    
}
nav::after{ /* añado al final del nav una línea. No cubre todo el ancho, por eso no pongo margin bottom. */
    content: "";
    background-color: black;
    width: 70%;
    height: 2px;
    position: absolute;
    top: 20%;

}
nav > ul{ /*Hago display flex a los elementos de la lista "UL". */
    display: flex;
}
.nav__ul--enlaces > li{
    padding: 10px;
    margin-left: 4%;
    width:12vw;    /* Así hago más ancho cada li */
    display: flex; /* para mas abajo centrar verticalmente */
    align-items: center;/* Centro verticalmente */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 29px;
    font-weight: 700;
    color: rgb(0, 0, 0);

}
.nav__ul--iconos{ /* hago flex el apartado de los iconos */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__ul--iconos > li{
    width: 12%;   /* le doy ancho a cada espacio donde coloco los iconos */
}
li img{
    width: 40%; /* le doy tamaño a cada icono dentro de su "li" */
}
.logo{
    width: 130px;
}
.header__div{
    position: absolute; /* con esta propiedad puedo darle posición en las coordenadas y/x  */
    top: 67%; /* Lo posiciono en vertical */
    left: 10%;
    color: aliceblue;
}
.header__div--button{
    padding: 10px; 
    background-color: rgb(201, 141, 141);
    border: none;
    border-radius: 20px;
    font-size: large;
    font-weight: 700    ;
}
main{
    margin-top: 2%;
    padding: 4%;
 
}

.main__contenedor--modelos{ /* Hago display grid al contenedor de los modelos y le doy 2 filas x 4 columnas */
    display: grid;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;

    margin-top: 5%;
}
.main__contenedor--modelos img{ /* defino el tamaño de imagen de cada modelo */
    width: 80%;
    height: 150px;
}
.main__ul--modelos{ /* hago flex el UL para posicionarlo en horizontal. Quizá cambiarlo a nav en lugar de div */
    display: flex;
    margin-left: 1%;

}
.main__ul--modelos > li{ /* defino un ancho para cada caja de modelo y lo coloco flex para */
    width: 12%;             /* que se coloque en horizontal */
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
}
.main__contenedor--opciones{ /* coloco estos elementos con grid */
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-items: center;
}
.main__contenedor--opciones img{
    width: 100%;
}
.main__contenedor--opciones > div{
    width: 90%;
    
}
.main__contenedor--opciones2 img{
    width:100% ;
    height:500px;
}
.main__contenedor--opciones2{ /* ahora coloco estos elementos con flex */
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

}
.main__contenedor--opciones2 > div{
    margin-top: 10%;
}
.main__contenedor--bottom img{
    /* width: 30%; */
    height: 150px;
}
.main__contenedor--bottom{ /* coloco los iconos con flex */
    display: flex;
    margin-top: 10%;
    font-size: larger;
    font-weight: 900;
    justify-content: space-evenly;

}




.footer__ul--enlaces{ /* listado de "enlaces"  para el ejercicio colocados con grid */
    background-color: rgb(209, 209, 209);
    padding-top: 3%;
    padding-left: 12%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

   
  