*{
    list-style: none;
    padding: 0;
    margin:2%;
    margin-right: 3%;
    text-decoration: none;   
}
body{
    background-color: rgb(204, 214, 222);
}
header{
    background-image: url(./imagenes/header2.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;

}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav::after{
    content: "";
    background-color: black;
    width: 70%;
    height: 2px;
    position: absolute;
    top: 30%;

}
nav > ul{
    display: flex;
}
.nav__ul--enlaces > li{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(25, 67, 103);

}
.nav__ul--iconos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__ul--iconos > li{
    width: 10%;   
}
li img{
    width: 50%;
}
.logo{
    width: 130px;
}
.header__div{
    position: absolute;
    top: 55%;
    left: 10%;
    color: aliceblue;
}
.header__div--button{
    padding: 10px; 
    background-color: rgb(201, 141, 141);
    border: none;
    border-radius: 20px;
    font-size: large;
    font-weight: 700    ;
}
main{
    margin-top: 2%;
    padding: 4%;
    margin-left: 10%;
}

.main__contenedor--modelos{
    display: grid;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;

    margin-top: 5%;
}
.main__contenedor--modelos img{
    width: 80%;
    height: 150px;
}
.main__ul--modelos{
    display: flex;
    margin-left: 1%;

}
.main__ul--modelos > li{
    width: 6%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
}
.main__contenedor--opciones{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-items: center;
}
.main__contenedor--opciones img{
    width: 100%;
}
.main__contenedor--opciones > div{
    width: 90%;
    
}
.main__contenedor--opciones2 img{
    width:100% ;
    height:500px;
}
.main__contenedor--opciones2{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

}
.main__contenedor--opciones2 > div{
    margin-top: 10%;
}
.main__contenedor--bottom img{
    /* width: 30%; */
    height: 150px;
}
.main__contenedor--bottom{
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;

}




.footer__ul--enlaces{
    background-color: rgb(209, 209, 209);
    padding-top: 3%;
    padding-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

   
  